<details class="result-section">
    <summary>
        <span>Accepted Employees</span>
        <span class="count">
            {{ results.accepted_employees|length }} employees
        </span>
    </summary>

    <div class="section-content">

        <table>
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>

            <tbody>

                {% for employee in results.accepted_employees %}

                <tr>
                    <td>{{ employee.employee_id }}</td>
                    <td>{{ employee.employee_name }}</td>
                    <td>{{ employee.email }}</td>
                </tr>

                {% endfor %}

            </tbody>
        </table>

    </div>
</details>